.env
.env.local
node_modules
*.wav
*.mp4
__pycache__/
venv/
data/
Backend/cache/
.DS_Store
*.pyc
Backend/chunks.json
Backend/chunks_metadata.json
Backend/vector_store/
Backend/audio_chunks/
Backend/cookies.txt
